body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 120px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{

}